/*
  CSS file for books.html
*/
body {
    background-color: lawngreen;
}
.date {
    font-size: 15px;
    color: black;
    text-align: left;
}
.isbn {
    font-size: 15px;
    color: black;
    text-align: left;
}
.publisher {
    font-size: 15px;
    color: black;
    text-align: left;
}
.title {
    font-size: 30px; 
    color: blue;
    text-align: left;
}
h1 {
    font-size: 200%;
    text-align: center;
    font-family: Arial;
    color: orange;
    border-style: solid;
    border-width: thick;
    background-color: aliceblue;
}
.author {
    font-size: 25px;
    color: orange;
    text-align: left;
}
.book {
    font-size: 200%;
    text-align: center;
    font-family: Arial;
    list-style: none;
    color: orange;
    border-style: solid;
    border-width: thick;
    background-color: aliceblue;
    outline-width: 10px;
    outline-style: hidden;

}
.bookcover {
    border-style: solid;
    border-width: thin;
    list-style: none;
    float: right;
    border-color: orange;
}
li {
    list-style: none;
}